# Django
DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=*

# MySQL
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=docs_cure_db
MYSQL_USER=docsuser
MYSQL_PASSWORD=docspass

# Gunicorn
GUNICORN_WORKERS=4
GUNICORN_THREADS=2
